.menu {
  position: relative;
  width: 50px;
}

.menu-button {
  background-color: red;
  color: white;
  width: 50px;
  height: 30px;
  border: none;
  text-decoration: none;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: blue;
  color: white;
  width: 50px;
}

.show {
  display: block;
}
